.todoList-container {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: auto;
}

.todoList__todoTape {
  padding: 10px;
  width: 78%;
  word-break: break-all;
  display: flex;
  flex-flow: wrap;
}