.todo-tools {
  flex-grow: 1;
  display: flex;
  margin-top: 10px;
  border: 1px solid rgba(0,0,0,0.19);
  flex-direction: column;
  padding: 2px 4px;

  &__item {
    border-radius: 4px;
    padding: 8px;
    background-color: rgba(234,255,200,0.53);
    border: 1px solid rgba(0,0,0,0.04);
    cursor: pointer;

    &:hover {
      background-color: rgba(234,255,200,0.67);
      border: 1px solid rgba(0,0,0,0.09);
    }
  }
}