.todo-container {
  background-color: blanchedalmond;
  max-width: 120px;
  display: flex;
  padding: 4px;
  margin: 10px 20px;
  flex-direction: column;
  transition: 1s ease;
  //opacity: 0;
}

.todo__fullView__description__title {
  background-color: white;
  padding: 2px 4px;
  overflow: auto;
  flex-grow: 1;
  width: 90%;
  word-break: break-all;
  border: none;
  font-family: "DejaVu Serif", KacstNaskh, sans-serif;
  resize: none;

    &::-webkit-scrollbar {
      display: none;
  }
}

.todo__id {
  align-items: left;
  margin: 6px;
  cursor: pointer;
  &:after {
    content: '⌬';
    margin: 0 4px;
  }
}

.fullView__complete {
  align-self: flex-start;
}

.todo__button {
  //outline: none;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(0,0,0,0.17);
  padding: 4px 2px;
  font-size: 16px;
  width: 100%;
}

.todo__fullView {
  display: flex;
  position: relative;
  transition: 1.3s;
  overflow: hidden;
}

.todo__fullView__description {
  flex-grow: 1;
  margin-right: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.todo__fullView__description__statusBar {
  margin-top: 4px;
  height: 16%;
  background-color: oldlace;
  border: 1px solid rgba(0,0,0,0.06);
  display: flex;
  font-size: 16px;
  padding: 4px;
}

.todo__fullView__description__tools {
  display: flex;
  flex-direction: column;
}

.fullView__completeCheck {
  font-size: 100%;
}