.header {
  display: flex;
  &__navList {
    margin: 0 auto;
    margin-top: 20px;
    padding: 0;
    width: 70%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding-bottom: 4px;
    border-bottom: 1px solid rgba(0,0,0,0.07);
  }
}

.navList__element {
  border: none;
  padding: 8px 12px;
  font-size: 16px;

  &:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.22);;
  }
}