.history {

  &__topic {
    font-size: 18px;
    margin-top: 12px;
    color: darkslategray;
    text-align: center;
  }

  &__history-list {
    list-style: none;
  }
}

.history-list {
  &__item {
    margin: 8px 2px;
  }
  &__date {
    font-size: 12px;
    color: lightslategrey;
  }

  &__action {
    font-size: 14px;
  }
}